/* ProductsWidget.module.css */

.productsContainer {
    max-width: 400px; /* Уменьшаем максимальную ширину контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 10px; /* Уменьшаем внутренние отступы */
    background-color: #f9f9f9; /* Цвет фона */
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для контейнера */
}

.productList {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы списка */
}

.addProductButton {
    display: flex; /* Инлайн-блок для кнопки */
    padding: 10px 20px; /* Отступы для кнопки */
    background-color: #e3e3e3; /* Серо-синий цвет фона кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Курсор указатель при наведении */
    font-size: 13px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход для фона и эффекта увеличения */
    text-align: center; /* Центрируем текст */
    margin-top: 10px; /* Отступ сверху */
    margin-bottom: 10px;

}

.addProductButton:hover {
    background-color: #bce0ed; /* Темнее цвет фона при наведении */
}

.addProductButton:active {
    transform: scale(0.95); /* Уменьшение при нажатии */
}

