.error-popup {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffeaea;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
    visibility: hidden;
  }
  
.error-popup.show {
    opacity: 1;
    visibility: visible;
}
  